a{
  text-decoration: none;
  font-weight: 900;
  font-size: 10;
  color: rgb(111, 111, 111);
}
body{
  background-color: #d8e4ee;
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  color: black;
  
}
h1 {
  color: black;
}
h2 {
  text-align: center;
  color:black;
  margin-top: 140px;
}

p {
  margin: 50px 250px;
  justify-content: center;

  font-size: 20px;
  color: black;

}
    .encabezado {
      background-color: #ffffff;
      block-size: 12vh;
    }

    .encabezado-derecha {
      text-align: center;
      margin-top: -1.8%;
      margin-left: -50%;
      text-decoration: none;
    }
    .enlace{
      margin-left: 20px;
    }
    
    #titulo {
      text-align: center;
      font-family: 'Montserrat', sans-serif;

    }
    
    .caja {
      background: #E3F2FD;
      background: #d8e4ee;
      border: 3px solid;
      padding: 5px;
      width: fit-content;
      margin: 20px auto;
      text-align: center;
      
    }
    
    .boton {
      margin-left: 10px;
      position: 0;
      top: 10px;
      right: 10px;
    }
  
    .contenedor_idea {
      display: flex;
      align-items: center;
      padding: 0 40px; 
      max-width: 10000px; 
      margin: 0; 
      margin-top: 200px;
    }
    
    .text-content {
      flex-basis: 1250px;
      padding-right: 10px;
      text-align: initial;
    }
    
    .image-content {
      flex-basis: 60%; 
      display: flex;
      justify-content: flex-end;
      margin-right: 150px;
    }
    
    
    .imagen_1 {
      max-width: 100%;
      height: auto;
      border-radius: 10px;}
    .imagen{
      max-width: 7vw;
      margin-left: 9vw;
      margin-top: 2.3%;
    }
    .imagen_2{
      max-width: 100%;
      height: auto;
      border-radius: 10px;
      margin: 0px 235px;
      width: 1280px;
      height: 720px;
    }

    
