body{
    background-color: #E3F2FD;
    font-family: 'Montserrat', sans-serif;

    }

    .encabezado {
      overflow: hidden;
      background-color: #f4c5c5;
      padding: 20px 10px;
    }

    .encabezado a.logo {
      font-size: 25px;
      font-weight: bold;
    }

    .encabezado a.hover {
      background-color: aqua;
      color: white;
    }

    .encabezado-derecha {
      float: right;
    }
    
    #titulo {
      text-align: center;
      text-decoration: underline;
      font-family: 'Montserrat', sans-serif;
    }
    
    
    .caja {
        background: #E3F2FD;
      border: 3px solid;
      padding: 5px;
      width: fit-content;
      margin: 20px auto;
      text-align: center;
        
    }
    
    .boton {
      margin-left: 10px;
      position: 0;
      top: 10px;
      right: 10px;
    }
    
    h2 {
      text-align: center;
      text-decoration: underline;
    }
    
    p {
      margin: 100px;
      justify-content: center;
    }
    