body {
    background-color: #d8e4ee;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    color: black;
}
h1 {
    text-align: center;
}

table{
    table-layout: fixed;
    font-size: 1em;
    border-collapse: collapse;
    width: 100%;
    min-width: 1700px;
    border-radius: 5px 50px 0 0;
}


/* Filas */
tr:nth-last-of-type(even){
    background-color: #d8daea;
}

/* Dias de la semana*/
th{
    background-color: red;
    border: 1px solid red;
    color: white;
    height: 25px;
}

/* Dia del número */
td{
    position: relative;
    text-align: right;
    border: 1px solid black;
    height: 17.66svh;
}
.contenedor{
    width: 100%;
    height: 100%;
}
.dia {
    bottom: 0;
    position: absolute;
    text-align: right;
    right: 5px;
}


.contenedor:hover{
    animation: cambioColor 1s forwards;
}
@keyframes cambioColor {
    50% {
      background-color: turquoise; /* Color medio de la animación */
    }
  }
.topbar{
    min-width: 1700px;
    min-height: 60px;
    height: 7svh;
    background-color: white;
}
.logo{
    /*max-width: 7vw;
    margin-left: 9vw;*/
    height: 90%;
    margin-left: 5svw;
  }


  .popup{
    padding: 1em;
    max-height: 31%;
    width: 30%;
    /*max-width: 50ch;*/
  }


  .evenTry{
    opacity: 0;
    top: 5%;
    left: 2.5%;
    width: 95%;
    height: 1.25rem;
    border-radius: 10% / 100%;
    position: absolute;
    background-color: greenyellow;
  }

  .horaDentro{
    font-size: 0.8rem;
    position: absolute;
    top: -0.6rem;
    right: 2%;

  }


  .textoDentro {
    font-size: 80%;
    position: absolute;
    left: 2.5%; /* Puedes ajustar esto según tu diseño */
    top: 10%; /* Puedes ajustar esto según tu diseño */
    margin: 0px; /* Elimina el margen predeterminado del párrafo */
  }

  #maxChar, #maxHora{
    font-weight: bold;
  }


  .monyr{
    position: absolute;
    height: 7svh;
    min-height: 60px;
    top: 0;
    right: 300px;
    width: 250px;
  }
  #year{
    position: absolute;
    top: 0;
    right: 0;
  }
  #month{
    position: absolute;
    top: 0;
  }